:root{
  --tsv-bg: #1f2531 !important;
  --tsv-bg-header: #1a1f29 !important;
  --tsv-border-header: #1d2433 !important;
  --tsv-shaded-bg: #1a1f29 !important;
}

.tsv-header {
  background: none !important;
  border-bottom: 2px solid var(--tsv-border-header) !important;
  

	&::before {
		background: var(--tsv-bg-header) !important;
    -webkit-mask-image: none !important;
    mask-image: none !important;
	}

  
	.tsv-search-bar {
		.tsv-search-input {
			&::placeholder {
				text-align: left !important;
				letter-spacing: 1px !important;
			}
		}
	}

  .tsv-header-bar-below-tools{
    background: none !important;

    &::before {
      background: none !important;
    }
  }

  .tsv-central-toolbar-buttons{
    &::before {
      background: none !important;
    }
  }
}

.tsv-header-floating {
  &::before {
  opacity: 1 !important;}
}


.tsv-floating-background {
  backdrop-filter: none !important;
}

.tsv-activity-main{
  .tsv-header{
    border-left: 2px solid var(--tsv-border-header) !important;
    border-right: 2px solid var(--tsv-border-header) !important;
  }
}